In [21]:
import numpy as np
import pandas as pd

In [22]:
users=pd.read_csv('BX-Users.csv',sep=";",error_bad_lines=False,encoding='latin-1')

In [23]:
books=pd.read_csv('BX-Books.csv',sep=";",error_bad_lines=False,encoding='latin-1')

b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'

In [24]:
ratings=pd.read_csv('BX-Book-Ratings.csv',sep=";",error_bad_lines=False,encoding='latin-1')

In [25]:
books.shape

(271360, 8)

In [26]:
books.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [27]:
users.shape

(278858, 3)

In [28]:
users.columns

Index(['User-ID', 'Location', 'Age'], dtype='object')

In [29]:
ratings.shape

(1149780, 3)

In [30]:
ratings.columns

Index(['User-ID', 'ISBN', 'Book-Rating'], dtype='object')

In [31]:
books.drop(['Image-URL-S','Image-URL-M','Image-URL-L'],axis=1,inplace=True)

In [32]:
books.rename(columns={'Book-Title':'title','Book-Author':'author','Year-Of-Publication':'year','Publisher':'publisher'},inplace=True)

In [33]:
ratings.rename(columns={'User-ID':'user_id','Book-Rating':'rating'},inplace=True)

In [34]:
users.rename(columns={'User-ID':'user_id','Location':'location','Age':'age'},inplace=True)

In [35]:
ratings

         user_id         ISBN  rating
0         276725   034545104X       0
1         276726   0155061224       5
2         276727   0446520802       0
3         276729   052165615X       3
4         276729   0521795028       6
5         276733   2080674722       0
6         276736   3257224281       8
7         276737   0600570967       6
8         276744   038550120X       7
9         276745    342310538      10
10        276746   0425115801       0
11        276746   0449006522       0
12        276746   0553561618       0
13        276746   055356451X       0
14        276746   0786013990       0
15        276746   0786014512       0
16        276747   0060517794       9
17        276747   0451192001       0
18        276747   0609801279       0
19        276747   0671537458       9
20        276747   0679776818       8
21        276747   0943066433       7
22        276747   1570231028       0
23        276747   1885408226       7
24        276748   0747558167       6
25        276748   3442437407       0
26        276751   033390804X       0
27        276751   3596218098       8
28        276754   0684867621       8
29        276755   0451166892       5
...          ...          ...     ...
1149750   276690   0312970188       0
1149751   276690   0440439884       0
1149752   276690   0590453653       0
1149753   276690   0590453688       0
1149754   276690   0590455419       0
1149755   276690   0590464116       0
1149756   276690   0590581066       0
1149757   276690   0590907301       0
1149758   276697   8445072897       0
1149759   276704   0152022597       0
1149760   276704   0312873115       0
1149761   276704   0345386108       6
1149762   276704   0380796155       5
1149763   276704   0395404258       0
1149764   276704   0425060772       0
1149765   276704   0440206529       0
1149766   276704   0441007813       0
1149767   276704   0446353957       0
1149768   276704   0446605409       0
1149769   276704   059032120X       0
1149770   276704   0679752714       0
1149771   276704   0743211383       7
1149772   276704   080410526X       0
1149773   276704   0806917695       5
1149774   276704   0876044011       0
1149775   276704   1563526298       9
1149776   276706   0679447156       0
1149777   276709   0515107662      10
1149778   276721   0590442449      10
1149779   276723  05162443314       8

[1149780 rows x 3 columns]

In [41]:
a=ratings['user_id'].value_counts()
b=ratings['user_id'].value_counts()>200
new_users=list(a[b].index)

In [42]:
ratings=ratings[ratings['user_id'].isin(new_users)]

In [43]:
ratings_with_bookname=ratings.merge(books,on='ISBN')

In [44]:
ratings_with_bookname.shape

(487671, 7)

In [45]:
ratings_with_bookname.head()

,user_id,ISBN,rating,title,author,year,publisher
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc

In [46]:
book_num_ratings=ratings_with_bookname.groupby('title')['rating'].count().reset_index()

In [47]:
book_num_ratings.rename(columns={'rating':'num_ratings'},inplace=True)

In [48]:
book_num_ratings=book_num_ratings[book_num_ratings['num_ratings']>=50]

In [49]:
final_rating=ratings_with_bookname.merge(book_num_ratings,on='title')

In [50]:
final_rating.shape

(61853, 8)

In [51]:
final_rating=final_rating.drop_duplicates(['user_id','title'])

In [52]:
final_rating.shape

(59850, 8)

In [53]:
final_rating

,user_id,ISBN,rating,title,author,year,publisher,num_ratings
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
5,16795,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
6,24194,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
7,25981,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
8,26535,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
9,28204,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
10,30533,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
11,31826,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
12,41084,002542730X,7,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
13,43246,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
14,44728,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
15,51883,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
16,52584,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
17,55548,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
18,60244,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
19,71712,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
20,77809,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
21,80538,002542730X,7,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
22,81045,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
23,82407,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
24,82831,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
25,86243,002542730X,7,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
26,88733,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
27,110934,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
28,111947,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
29,112026,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
...,...,...,...,...,...,...,...,...
61823,145619,0553579983,0,And Then You Die,Iris Johansen,1998,Bantam,50
61824,146348,0553579983,0,And Then You Die,Iris Johansen,1998,Bantam,50
61825,147847,0553579983,0,And Then You Die,Iris Johansen,1998,Bantam,50
61826,153662,0553579983,0,And Then You Die,Iris Johansen,1998,Bantam,50
61827,158295,0553579983,7,And Then You Die,Iris Johansen,1998,Bantam,50
61828,163973,0553579983,0,And Then You Die,Iris Johansen,1998,Bantam,50
61829,170518,0553579983,0,And Then You Die,Iris Johansen,1998,Bantam,50
61830,172030,0553579983,0,And Then You Die,Iris Johansen,1998,Bantam,50
61831,175003,0553579983,0,And Then You Die,Iris Johansen,1998,Bantam,50
61832,185233,0553579983,0,And Then You Die,Iris Johansen,1998,Bantam,50
61833,201674,0553579983,0,And Then You Die,Iris Johansen,1998,Bantam,50
61834,222941,0553579983,0,And Then You Die,Iris Johansen,1998,Bantam,50
61835,226545,0553579983,0,And Then You Die,Iris Johansen,1998,Bantam,50
61836,227447,0553579983,0,And Then You Die,Iris Johansen,1998,Bantam,50
61837,227520,0553579983,0,And Then You Die,Iris Johansen,1998,Bantam,50
61838,230522,0553579983,0,And Then You Die,Iris Johansen,1998,Bantam,50
61839,231237,0553579983,0,And Then You Die,Iris Johansen,1998,Bantam,50
61840,232131,0553579983,0,And Then You Die,Iris Johansen,1998,Bantam,50
61841,232945,0553579983,8,And Then You Die,Iris Johansen,1998,Bantam,50
61842,234359,0553579983,7,And Then You Die,Iris Johansen,1998,Bantam,50
61843,234597,0553579983,0,And Then You Die,Iris Johansen,1998,Bantam,50
61844,235105,0553579983,0,And Then You Die,Iris Johansen,1998,Bantam,50
61845,242106,0553579983,10,And Then You Die,Iris Johansen,1998,Bantam,50
61846,245963,0553579983,0,And Then You Die,Iris Johansen,1998,Bantam,50
61847,247447,0553579983,0,And Then You Die,Iris Johansen,1998,Bantam,50
61848,255489,0553579983,7,And Then You Die,Iris Johansen,1998,Bantam,50
61849,256407,0553579983,0,And Then You Die,Iris Johansen,1998,Bantam,50
61850,257204,0553579983,0,And Then You Die,Iris Johansen,1998,Bantam,50
61851,261829,0553579983,0,And Then You Die,Iris Johansen,1998,Bantam,50
61852,273979,0553579983,0,And Then You Die,Iris Johansen,1998,Bantam,50

In [54]:
book_pivot=final_rating.pivot_table(columns='user_id',index='title',values='rating')

In [56]:
book_pivot=book_pivot.fillna(0)

In [57]:
from scipy.sparse import csr_matrix
book_matrix=csr_matrix(book_pivot)

In [58]:
from sklearn.neighbors import NearestNeighbors

In [59]:
model=NearestNeighbors(algorithm='brute')

In [60]:
model.fit(book_matrix)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='minkowski',
         metric_params=None, n_jobs=None, n_neighbors=5, p=2, radius=1.0)

In [62]:
book_pivot.index[237]

'Harry Potter and the Chamber of Secrets (Book 2)'

In [63]:
book_pivot.iloc[237,:].values.reshape(1,-1).shape

(1, 888)

In [64]:
distance,suggestion=model.kneighbors(book_pivot.iloc[237,:].values.reshape(1,-1),n_neighbors=5)

In [65]:
suggestion

array([[237, 240, 238, 241, 184]], dtype=int64)

In [66]:
for i in suggestion[0]:
    print(book_pivot.index[i])

Harry Potter and the Chamber of Secrets (Book 2)
Harry Potter and the Prisoner of Azkaban (Book 3)
Harry Potter and the Goblet of Fire (Book 4)
Harry Potter and the Sorcerer's Stone (Book 1)
Exclusive

In [67]:
np.where(book_pivot.index=='Exclusive')[0][0]

184

In [68]:
def recommend(bookname):
    b_id=np.where(book_pivot.index==bookname)[0][0]
    distance,suggestion=model.kneighbors(book_pivot.iloc[b_id,:].values.reshape(1,-1),n_neighbors=5)
    for i in suggestion[0]:
        print(book_pivot.index[i])

In [69]:
recommend('The Cradle Will Fall')

The Cradle Will Fall
Exclusive
The Long Road Home
Eyes of a Child
Jacob Have I Loved